<!-- <div class="delete">
	<%= form_for(:tokimon, :url => {:action =>'destroy',:id => @tokimon.id}) do |f| -%>
	<p> Are you sure you want to transfer <%= @tokimon.name %> to professor Maple? </p>
	<div class="form-buttons">
		<%= f.submit "yes" %>
	</div>
	<% end %>
</div> -->
