<div id="New Tokimon">
<h1>New Tokimon</h1>
Trainer: <%= trainer.name %> (<%= link_to "back", new_trainer_path %>)
<hr>

<p> Enter Tokimon Information </p>
<%= render 'form' %>

<p><%= link_to "Back", @tokimon %></p>
</div>